.projects{
    padding: 1rem;
    
    h1{
        margin-bottom: 1rem;
    }

    > div{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
    }
}