@use "../../../index.scss";

.card{
    @extend .outline;
    position: relative;
    overflow: hidden;
    max-width: 380px;
    width: 100%;

    > img{
        display: block;
        width: calc(100% - 1rem);
        aspect-ratio: 8/4;
        margin: 0.5rem;
        border-radius: 8px;
        overflow: hidden;
        background-color: rgb(31, 33, 36);
    }

    .card_info{
        background-color: rgb(31, 33, 36);
        padding: 1rem;
    }

    .card_btn_box{
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;

        a{
            margin-left: 0.5rem;
        }
    }
}